{{> header}}
    <div class="infoPanel">
        <div class="container ">
            <div class="title">
                <div class="row">
                    <div class="col-12">
                        <p class="mainTitle">皇冠4D彩票</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-3">
                        <p>第20180128期开奖结果</p>
                    </div>
                    <div class="col-5">
                        
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-5">下期开奖倒计时:</div>
                            <div class="col-7">23:59:59</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main">
        <div class="row">
            <div class="col-6 clearPadding">
                <p class="text-center">1st Prize 首奖</p>
            </div>
            <div class="col-6 clearPadding">
                <p class="text-center">9999</p> 
            </div>
        </div>
        <div class="row">
            <div class="col-3 clearPadding">
                <p class="text-center">2nd Prize</p>
            </div>
            <div class="col-3 clearPadding">
                <p class="text-center">8888</p>
            </div>
            <div class="col-3 clearPadding">
                <p class="text-center">3rd Prize</p>
            </div>
            <div class="col-3 clearPadding">
                <p class="text-center">6666</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 clearPadding text-center" >
                <p> Special 特别奖</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 clearPadding text-center" >
                    <p>Consolation 安慰奖</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            </div>
            </div>
        </div>
    </div>
{{> footer}}
