{{> header}}
    <div class="infoPanel">
        <div class="container ">
            <div class="title">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <p class="mainTitle"><img class="logo" src="/source/img/logo.png" alt="">{{data.index.gameTitle}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <p><span class="period" id="period">{{dataObj.period}}</span> </p>
                    </div>
                    <div class="col-md-5 col-6">
                        <input type="text" class="form-control col-md-6 col-12" id="date" placeholder="please select date">
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="row">
                            {{#if isLive}}
                            <div class="col-md-6 opening" id="nextTip">{{data.index.living}}</div>
                             {{else}}
                            <div class="col-md-6" id="nextTip">{{data.index.nextTip}}</div>
                            <div class="col-md-6" id="time" data-time="{{nextTime}}">{{nextTime}}</div>
                             {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container main">
        <div class="row">
            <div class="col-md-6 col-6 clearPadding">
                <p class="text-center">{{data.index.first}}</p>
            </div>
            <div class="col-md-6 col-6 clearPadding">
                <p class="text-center" id="firstPrise">{{dataObj.firstPrise.number}}</p> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-3 clearPadding">
                <p class="text-center">{{data.index.second}}</p>
            </div>
            <div class="col-md-3 col-3 clearPadding">
                <p class="text-center" id="secondPrise">{{dataObj.secondPrise.number}}</p>
            </div>
            <div class="col-md-3 col-3 clearPadding">
                <p class="text-center">{{data.index.third}}</p>
            </div>
            <div class="col-md-3 col-3 clearPadding">
                <p class="text-center" id="thirdPrise">{{dataObj.thirdPrise.number}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 clearPadding text-center" >
                <p> {{data.index.special}}</p>
            </div>
        </div>
        <div class="row">
            {{#list dataObj.speciallyPrise}}
                {{#if newNumber}}
                    {{newNumber}}
                {{else}}
                    {{number}}
                {{/if}}
            {{/list}}
        </div>
        <div class="row">
            <div class="col-md-12 clearPadding text-center" >
                    <p>{{data.index.comfort}}</p>
            </div>
        </div>
        <div class="row">
                {{#list dataObj.comfortPrise}}
                    {{number}}
                {{/list}}
            </div>
        </div>
    </div>
{{> footer}}
