{{> header}}
    <div class="infoPanel">
        <div class="container ">
            <div class="title">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <p class="mainTitle">{{data.index.gameTitle}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-md-3 col-4">
                        <p><span id="period"></span> {{dataObj.period}}</p>
                    </div>
                    <div class="col-md-5 col-3">
                        
                    </div>
                    <div class="col-md-4 col-5">
                        <div class="row">
                            <div class="col-md-5" id="nextTip">{{data.index.nextTip}}</div>
                            <div class="col-md-7" id="time" data-time="{{nextTime}}">{{nextTime}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main">
        <div class="row">
            <div class="col-md-6 col-6 clearPadding">
                <p class="text-center">{{data.index.first}}</p>
            </div>
            <div class="col-md-6 col-6 clearPadding">
                <p class="text-center" id="firstPrise">{{dataObj.firstPrise.number}}</p> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-3 clearPadding">
                <p class="text-center">{{data.index.second}}</p>
            </div>
            <div class="col-md-3 col-3 clearPadding">
                <p class="text-center" id="secondPrise">{{dataObj.secondPrise.number}}</p>
            </div>
            <div class="col-md-3 col-3 clearPadding">
                <p class="text-center">{{data.index.third}}</p>
            </div>
            <div class="col-md-3 col-3 clearPadding">
                <p class="text-center" id="thirdPrise">{{dataObj.thirdPrise.number}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 clearPadding text-center" >
                <p> {{data.index.special}}</p>
            </div>
        </div>
        <div class="row">
            {{#list dataObj.speciallyPrise}}
                {{number}}
            {{/list}}
            <!-- <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-12 clearPadding text-center" >
                    <p>{{data.index.comfort}}</p>
            </div>
        </div>
        <div class="row">
                {{#list dataObj.comfortPrise}}
                    {{number}}
                {{/list}}
            <!-- <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div>
            <div class="col-md-1 clearPadding text-center" >
                <p>1111</p>
            </div> -->
            </div>
        </div>
    </div>
{{> footer}}
