<!DOCTYPE html>
{{#if isCn}}
<html lang="zh">
{{else if isEn}}
<html lang="en">
{{else}}
<html lang="ms">
{{/if}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{#if index}}
    <title>{{data.index.gameTitle}}-{{data.index.title}}</title>
    {{else if about}}
    <title>{{data.index.gameTitle}}-{{data.aboutus.title}}</title>
    {{else if contact}}
    <title>{{data.index.gameTitle}}-{{data.contactus.title}}</title>
    {{/if}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/foundation-datepicker.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/script/jquery/jquery.min.js"></script>
    <script src="/script/bootstrap.min.js"></script>
    <script src="/script/foundation-datepicker.min.js"></script>
    <script src="/script/swfobject.js"></script>
    <script src="/script/web_socket.js"></script>
    <script src="/script/index.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <p style="margin-left: auto;">
                    <a class="link" href="/zh_cn/">中文</a>
                    <a class="link" href="/my/">Melayu</a>
                    <a class="link" href="/en_us/">English</a>
                </p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="navBar row ">
                    <div class="col-md-12 col-12">
                        <nav class="navbar navbar-expand-md navbar-light bg-light">
                            <!-- Brand -->
                            <a class="navbar-brand" href="#"></a>
                            <!-- Toggler/collapsibe Button -->
                            <button class="navbar-toggler toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse  justify-content-end" id="collapsibleNavbar">
                                <ul class="nav nav-pills navbar-nav">
                                    <li class=" nav-item ">
                                        <a class="nav-link" href="javascript:;">{{data.navIndex}}</a> 
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;">{{data.navAboutUs}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;">{{data.navContactUs}}</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>