<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{#if index}}
    <title>皇冠4D-{{data.index.title}}</title>
    {{else if about}}
    <title>皇冠4D-{{data.aboutus.title}}</title>
    {{else if contact}}
    <title>皇冠4D-{{data.contactus.title}}</title>
    {{/if}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <p>头部内容</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navBar row ">
                    <div class="col-3">
                        <div class="logo">
                            <img src="/source/img/logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="navList">
                            <ul class="list">
                                <li class="active">
                                    <a href="javascript:;">首页</a> 
                                </li>
                                <li>
                                    关于我们
                                </li>
                                <li>
                                    联系我们
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>