<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{#if index}}
    <title>皇冠4D-{{data.index.title}}</title>
    {{else if about}}
    <title>皇冠4D-{{data.aboutus.title}}</title>
    {{else if contact}}
    <title>皇冠4D-{{data.contactus.title}}</title>
    {{/if}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/script/jquery/jquery.min.js"></script>
    <script src="/script/bootstrap.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <p>头部内容</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="navBar row ">
                    <div class="col-md-12 col-12">
                        <nav class="navbar navbar-expand-md navbar-light bg-light">
                            <!-- Brand -->
                            <a class="navbar-brand" href="#"><img class="logo" src="/source/img/logo.png" alt=""></a>
                            <!-- Toggler/collapsibe Button -->
                            <button class="navbar-toggler toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse  justify-content-end" id="collapsibleNavbar">
                                <ul class="nav nav-pills navbar-nav">
                                    <li class=" nav-item ">
                                        <a class="nav-link" href="javascript:;">首页</a> 
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;">关于我们</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;">联系我们</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>